.App {
  padding: 60px 0 100px;
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}

body {
  background: #d7c8e8;
}

.github {
  text-align: center;
  width: 40px;
}

.App a {
  color: #db8efd;
}

.App h1 {
  color: #db8efd;
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-size: 80px;
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  outline: 3px solid #c7ede6;
  outline-offset: -15px;
}
