.Dictonary {
  text-align: center;
}

.Dictonary h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 16px;
  font-family: "Dancing Script", cursive;
}

.Dictonary section {
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  margin: 20px 0;
  outline: 3px solid #c7ede6;
  outline-offset: -15px;
}

.Dictonary input {
  width: 100%;
  border-radius: 6px;
  padding: 8px 5px;
  border: 1px solid #ddd;
}

.Dictonary .hint {
  font-size: 11px;
  margin-top: 5px;
}
